* {
    padding: 0;
    margin: 0;
}
.section {
    display: flex;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-around;
}
div {
    background-color: aqua;
    flex-basis: 80px;
    text-align: center;
    align-self: stretch;
    color: #fff;
    font-size: 50px;
}
.div2 {
   width: 75%;
   align-self: center;
}
